<div class="asd">
    <ngb-carousel>
        <ng-template ngbSlide class="carousel-inner">
            <div class="foto">
                <div class="dale">
                    <img class="d-block w-100" src="../../assets/guitars/zahir.jpg" alt="Delhi Metro">
                </div>
            </div>
            <div class="carousel-caption">
                <h5>Nuevos lanzamientos</h5>
            </div>
        </ng-template>
        <ng-template ngbSlide class="carousel-inner">
            <div class="foto">
                <div>
                    <img class="d-block w-100" src="../../assets/guitars/telecaster.jpg" alt="Bangalore Metro">
                </div>
            </div>
            <div class="carousel-caption">
                <h5>Instrumentos del momento</h5>
            </div>
        </ng-template>
        <ng-template ngbSlide class="carousel-inner">
            <div class="foto">
                <div>
                    <img class="d-block w-100" src="../../assets/guitars/marilina.jpg" alt="Channai Metro">
                </div>
            </div>
            <div class="carousel-caption">
                <h5>Artistas</h5>
            </div>
        </ng-template>
    </ngb-carousel>
</div>