.asd {
    padding-left: 5rem;
    padding-right: 5rem;
}

.artname {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 25px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #7D7D7D;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

.mov {
    padding: 5rem;
}

.si {
    height: 290px;
    width: 290px;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}