<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <!---->
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm bordecirular">
                    <div>
                        <a routerLink="/guitars"><img class="datita" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../../assets/guitars/gretsch.jpg" data-holder-rendered=" true "></a>
                        <div class="centered">

                            <a routerLink="/guitars" class="fotosIns">
                                <p class="card-text noselect">Guitarras</p>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm bordecirular">
                    <div>
                        <a routerLink="/keys">
                            <img class="datita" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../../assets/guitars/nordstage.jpg" data-holder-rendered=" true ">
                        </a>
                        <div class="centered">
                            <a routerLink="/keys" class="fotosIns">
                                <p class="card-text noselect">Teclados/Synthes</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm bordecirular">
                    <div>
                        <a routerLink="/amps">
                            <img class="datita" data-src="holder.js/100px225?theme=thumb&amp;bg=55595c&amp;fg=eceeef&amp;text=Thumbnail" alt="Thumbnail [100%x225]" src="../../assets/guitars/voxamp.jpg" data-holder-rendered=" true ">
                        </a>
                        <div class="centered">
                            <a routerLink="/amps" class="fotosIns">
                                <p class="card-text noselect">Amp/Pedals</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
        </div>
    </div>
</div>